:root {
    --header-top-color: #2C3E50;
    --header-jumbo-color: #1ABC9C;
    --footer-info-color: #3A546D;
    --footer-copyright-color: #2C3E50;
    /* size */
    --jumbo-height: 400px;
}

/* blocchi colorati */
.pink {
    background-color: pink;
}
.silver{
    background-color: silver
}
.fucsia {
    background-color: fuchsia;
}
.gold {
    background-color: gold;
}
.hgt-50 {
    height: 50px;
}
.hgt-180 {
    height: 180px;
}
.img-portfolio {
    height: 160px;
    border: 1px solid black;
}
/* /blocchi colorati */
div.container-fluid {
    /* rimozione padding */
    padding-left: 0;
    padding-right: 0;
}
header,
main,
footer {
    width: 100%;
}
#header-top {
    background-color: var(--header-top-color);
}
#header-jumbo {
    height: var(--jumbo-height);
    background-color: var(--header-jumbo-color);
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #header-jumbo {
        /* ingrandimento jumbo */
        height: calc(var(--jumbo-height) + 50px);
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 }