:root {
  --green-color: 26, 188, 156;
  --dark-green-color: 44, 62, 80;
  --font-color-base: 0, 0, 0;
  --font-color-light: 255, 255, 255;
}
html {
    font-size: 100%;
}
/* header */
.header {
    background-color: rgba(var(--dark-green-color));
    color: rgba(var(--font-color-light));
}
header.h1 {
    font-size: 1em;
}
/* /header */
/* jumbo */
.jumbo {
    background-color: rgb(var(--green-color));
    color: rgba(var(--font-color-light));
    text-transform: uppercase;
}
.jumbo .avatar {
    display: inline-block;
    height: 180px;
    width: 200px;
    background-color: red;
}
.star::after {
    content: "STELLA";
}
/* /jumbo */
.portfolio .image {
    height: 250px;
    background-color: blue;
}
/* // Small+ devices */
@media (min-width: 576px) { 
    html {
        font-size: 90%;
    }
    .header {background-color: black;}
    .header h1 {
    font-size: 1em;
  }
}
/* // Medium+ devices (desktops, 992px and up) */
@media (min-width: 768px) { 
    .header {background-color: red;}
 }