/* blocchi colorati */
.pink {
    background-color: pink;
}
.silver{
    background-color: silver
}
.hgt-160 {
    height: 160px;
}
/* /blocchi colorati */

#header-top {
    height: 50px;
    background-color: blue;
}
#header-jumbo {
    height: 500px;
    background-color: red;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #header-top {
        background-color: green;
    }
    #header-jumbo {
        /* ingrandimento jumbo */
        height: 550px;
        background-color: violet;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #header-top {
        background-color: whitesmoke;
    }
    #header-jumbo {
        background-color: yellow;
    }
 }